:root{
  --dark-col : #D8C4B6;
  --light-violet : #4F709C;
  --light-col : #F5EFE7;
  --light-purple : #213555;

  --font-Pop : Poppins;
  --font-play : DM Serif Display;
  --font-Quick : Quicksand;

--input-focus: #f0922d;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  overflow-x: hidden;
}

.background-image {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, #01353525 0%,#01353525 50%, rgb(128, 6, 128) 90%) , url("../static/employee.jpg");
  background-size: cover;
  background-position: center;
}

html{
  font-family:var(--font-Pop),'sans-serif';
}

nav {
    background-color: var(--light-purple);
    color: #fff;
    width: 100%;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
  }

  .logo {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    justify-content: center;
  }

  .title {
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold;
    justify-content: center;
    align-items: center;
    top:0;
  }


  .floating-card{
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgb(128, 6, 128) 0%,rgba(128, 6, 128, 0.653) 70%), url("../static/svg.png");
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav{
    display: flex;
    justify-content: start;
  }

  span{
    margin-left: 20px;
  }

  h2{
    font-size: clamp(2rem,5vw,3rem);
  }
  h2,p{
    padding: 0.5rem;
    color: #fff;
    text-align: center;
  }
  p{
    font-size: 15px;
  }

.field-container{
  padding-inline: 1.5rem;
  gap: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.output{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pred_card{
  background-color: #213555;
  padding: 20px;
  border-radius: 10px;
}
.pred_text{
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: #F5EFE7;
}

.field{
  flex: 1 0 0;
  font-family: var(--font-Pop),'sans-serif';
  font-size: 18px;
  min-width: 40vw;
  padding: 1rem;
  margin-block: 5px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: rgba(62, 1, 46, 0.589);
  box-shadow: 0 0 10px 3px rgba(255, 0, 0, 0.326);
  color: var(--input-focus);
  border: 1px solid #f0922d;
}
::placeholder{
  color: #f0922daa;
}
/* button styles */
.supp{
  padding-bottom: 1rem;
}
.container {
  width: 20%;
  background-color: #020002;
  border-radius: 5px;
  color: white;
  transition: all 0.3s ease-in-out;
}
.container:hover{
  scale: 1.1;
   box-shadow: 0 0 10px 3px rgba(75, 0, 59, 0.241);
}

.centered-button {
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  background: none;
  outline: none;
  text-align: center;
  border: none;
  cursor: pointer;
}