<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--Fontawesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="stylesheet" href="home.css"/> -->

  <!-- connecting Google fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=DM Serif Display">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">

  <title>Diabetes Prediction</title>
  <link rel="stylesheet" href="../static/home.css">
</head>
</head>

<body>
  <nav class="nav">
    <img src="{{ url_for('static', filename='obesity.png') }}" alt="Logo" class="logo">
    <span class="title">Diabetes Attirition</span>
  </nav>

  <div class="background-image"></div>

  <div class="floating-card">
    <div class="card">
      <h2>Diabetes Prediction</h2>
      <p>These are the list of feature to train the model kindly fill the fields inorder to predict the
        final output</p>
      <center>

        <div class="field-container">
          <form action="/process_text" method="post">
            <input class="field" type="text" placeholder="Pregnancies" id="Pregnancies" name="Pregnancies" required />
            <input class="field" type="text" placeholder="Plasma Glucose" id="PlasmaGlucose" name="PlasmaGlucose" 
              required />
            <input class="field" type="text" placeholder="Diastolic Blood Pressure" id="DiastolicBloodPressure" name="DiastolicBloodPressure"  required />
            <input class="field" type="text" placeholder="TricepsThickness" id="TricepsThickness" name="TricepsThickness" 
              required />
            <input class="field" type="text" placeholder="Serumlnsulin" id="Serumlnsulin" 
              name="Serumlnsulin" required />
            <input class="field" type="text" placeholder="BMI" id="BMI" name="BMI" 
              required />
            <input class="field" type="text" placeholder="Diabetes Pedigree" id="DiabetesPedigree" 
              name="DiabetesPedigree" required />
            <input class="field" type="text" placeholder="Age" id="Age" name="Age" 
              required />

              <center>
              <div class="container">
                <button class="centered-button" type="submit">Predict</button>
              </div>
            </center>

          </form>
        </div>
      </center>
    </div>
  </div>



</body>

</html>